core.Microsoft*
core.mongo*
core.python*
env.py
__pycache__/
*.py[cod]
node_modules/
.github/
cloudinary_python.txt
Gallery/architecture.jpg
Gallery/bath.jpg
Gallery/chair.jpg
Gallery/counter.jpg
Gallery/cozy-corner.jpg
Gallery/dine.jpg
Gallery/home-bg.jpg
Gallery/plant.jpg
Gallery/sitting.jpg
Gallery/spacejoy.jpg
Gallery/stairs.jpg
