body
{
    font-family: 'Roboto', sans-serif;
    font-size:15px;
    margin:0;
    padding-top: 50px;
}
.logo
{
    font-size: medium;
    font-weight: 500;
    color: darkgreen;
    text-decoration: none;
}
span{
    color:rgb(7, 6, 6);
}
.topnav
{
    overflow: hidden;
    width: 100%;
    display:flex;
    justify-content: space-between;
}
.topnav nav-links
 {
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
 }
.nav-links li a
{
    font-weight: 400;
    padding: 0 15px;
    margin:10px 0px;
    color: black;
    text-decoration: none;
    display:inline-block;
    transition: all .30s ease;
}
.topnav .nav-links a:hover
{
    color: greenyellow;
}
.social-links
{
    display: flex;
    align-items: center;
}
.social-links a
{
    color: black;
    font-size: 20px;
    padding: 0  10px;
    text-decoration: none;
    transition: all .30s ease;
}
.social-links a:hover
{
    color: greenyellow;
}
