
body
{
    font-family: 'Roboto', sans-serif;
    margin:0;
    
}
/*--- menu style--*/
header 
{
    
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0%;
    z-index: 1000;
}

header::before
{
    content:"";
    position:absolute;
    height:100%;
    width:100%;
    background:rgba(26, 23, 23, 0.2);

}
.logo
{
    font-size:25px;
    font-weight: 700;
    color: rgb(19, 68, 19);
    text-decoration: none;
}
span{
    color:rgb(14, 75, 65);
}
.topnav
{
    overflow: hidden;
    width: 100%;
    display:flex;
    justify-content: space-between;
}
.topnav a
{
    display:inline;
    color: rgb(7, 4, 4);
    text-decoration: none;
    text-transform: capitalize;
    padding: 5px 0;
}
.nav-links
 {
    justify-content: center;
    align-items: center;
    display: flex;
    list-style-type: none;
    gap: 15px;
    text-shadow: 2px 2px 8px #313030a6;
 }
.nav-links a
{
    font-weight: 400;
    padding: 0 auto;
    margin:0px 0px;
    color: black;
    text-decoration: none;
    display:inline-block;
    transition: all .30s ease;
}
.topnav .nav-links a:hover
{
    color: rgb(46, 66, 15);
}
.social-links
{
    display: flex;
    align-items: center;
    text-shadow: 2px 2px 8px #313030a6;
}
.social-links a
{
    color: black;
    font-size: 20px;
    padding: 0px  10px;
    text-decoration: none;
    transition: all .30s ease;
}
.social-links a:hover
{
    color: greenyellow;
}
.topnav .icon 
{
    display: none;
}

.box    
{
    background-color:transparent;
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 20px;
}
.flex
{
    display: flex;
    align-items: center;
}
@media screen and (max-width: 600px) 
{
.topnav .nav-links, .social-links{
    display: none;
}    
.topnav.responsive .nav-links, .topnav.responsive .social-links{
    display:flex;
    flex-direction: column;
    width: 100%;
    text-align:centre;
    background: black;
    transition: top 1s ease;
}
.topnav.responsive .nav-links a, .topnav.responsive .social-links a:hover{
    display: block;
    text-align: centre;
}
}
/*--- section style--*/
section
{
    padding: 50px 0% 50px;
    justify-content: flex-start;
}
.main 
{
    background: url("../Assets/images/bath.jpg");
    position: relative;
    width: 100%;
    height:100vh;
    background-position: center;
    background-size: cover;
    display:flex;
    align-items:center;
    justify-content: flex-start;
    
}
.main::before
{
    content:"";
    position:absolute;
    height:100%;
    width:100%;
    background:rgba(247, 246, 246, 0.24);
    
}
.content
{
    
    background-color:transparent;
    width: 100%;
    margin: 0px 0%;
    max-width: 1500px;
    padding: 0px 0%;
}

.main .content
{
    height: 85px;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    text-shadow: 2px 2px 8px #f7f7f7a6;

}
.main .text h5
{
    font-size: 40px;
    font-weight: 500;
    padding: 0px 0%;
    
}
.main .text h1
{
    font-size: 60px;
    font-weight: 800;
    padding: 0px 0%;

}
.main .text p
{
    font-size: 25px;
    font-weight: 400;
    padding: 0px 0%;
}
.btn
{
    font-size: 18px;
    color: whitesmoke;
    font-weight: 400;
    background-color: darkslategray;
    padding: 10px 20px;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    transition: all .3s ease;
   
}
.btn:hover  
{
    color: darkgrey;
}


/*section-showcase*/
.section-showcase
{
    margin-left: 20px;
    margin-right: 20px;
}
.section-showcase h1
{
    font-size: 40px;
    font-weight: 800;
    text-align: center;
    margin-top: 30px;
}
 .section-showcase h1 + hr
{
    border: 3px solid darkslategray;
    width:200px;
    border-radius: 40px;
    margin:20px auto;
    padding-top: 10;
}
.section-showcase h2 + hr
{
    border: 3px solid darkslategray;
    width:40px;
    border-radius: 40px;
    margin:20px auto 20px 0;
    padding-top: 10;
}





/*section-packages*/
.packages
{
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
    box-sizing: border-box;
    background-color: lightgray;

}
.section-packages .package
{
    text-align: center;
    max-width: 800px;
    margin:auto;
}
.section-packages h2 + hr
{
    border: 3px solid darkslategray;
    width:40px;
    border-radius: 40px;
    margin:20px auto 20px 0;
    padding-top: 10;
}