body
{
    font-family: 'Roboto', sans-serif;
    font-size:15px;
    margin:0;
    padding-top: 0px;
}
/*--- menu style--*/
header 
{
    
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 6%;
    z-index: 1000;
}
.topnav .logo
{
    font-size:large;
    font-weight: 700;
    color: rgb(82, 172, 82);
    text-decoration: none;
}
span{
    color:rgb(7, 6, 6);
}
.topnav
{
    overflow: hidden;
    width: 100%;
    display:flex;
    justify-content: space-between;
}
.topnav a
{
    display:inline;
    color: rgb(7, 4, 4);
    text-decoration: none;
    text-transform: capitalize;
    padding: 5px 0;
}
.nav-links
 {
    justify-content: center;
    align-items: center;
    display: flex;
    list-style-type: none;
    gap: 15px;
 }
.nav-links a
{
    font-weight: 400;
    padding: 0 auto;
    margin:0px 0px;
    color: black;
    text-decoration: none;
    display:inline-block;
    transition: all .30s ease;
}
.topnav .nav-links a:hover
{
    color: greenyellow;
}
.social-links
{
    display: flex;
    align-items: center;
}
.social-links a
{
    color: black;
    font-size: 20px;
    padding: 0px  10px;
    text-decoration: none;
    transition: all .30s ease;
}
.social-links a:hover
{
    color: greenyellow;
}
.topnav .icon 
{
    display: none;
}

.box    
{
    background-color:transparent;
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 20px;
}
.flex
{
    display: flex;
    align-items: center;
}
@media screen and (max-width: 600px) 
{
.topnav .nav-links, .social-links{
    display: none;
}    
.topnav.responsive .nav-links, .topnav.responsive .social-links{
    display:flex;
    flex-direction: column;
    width: 100%;
    text-align:centre;
    background: black;
    transition: top 1s ease;
}
.topnav.responsive .nav-links a, .topnav.responsive .social-links a:hover{
    display: block;
    text-align: centre;
}
}
/*--- section style--*/
section
{
    padding: 100px 0% 100px;
}
.main 
{
    background: url("../Assets/images/bath.jpg");
    position: relative;
    width: 100%;
    height:100vh;
    background-position: center;
    background-size: cover;
    display:flex;
    align-items:center;
    justify-content: flex-start;
}
.main::before
{
    content:"";
    position:absolute;
    height:100%;
    width:100%;
    background:rgba(247, 246, 246, 0.2);
    
    
}
.main .content
{
    height:80%;
    justify-content: center;
    flex-direction: column;
    position: relative;

}
.main .text h5
{
    font-size: 60px;
    font-weight: 500;
    padding: 10px 5%;
}
.main .text h1
{
    font-size: 50px;
    font-weight: 800;
    padding: 10px 5%;
}
.main .text p
{
    font-size: 25px;
    font-weight: 400;
    padding: 10px 5%;
}
.btn
{
    font-size: 18px;
    color: whitesmoke;
    font-weight: 400;
    background-color: darkslategray;
    padding: 10px 20px;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    transition: all .3s ease;
}
.btn:hover  
{
    color: darkgrey;
}
